.searchBar-item-box {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    color: rgb(89, 88, 88);
    font-size: 15px;
}

.searched-game-item-img {
    object-fit: cover;
    border-radius: 10px;
    margin: 10px 0;
    width: 150px;
    height: 100px;
}

@media only screen and (max-width: 600px) {
    .searchBar-item-box {
        display: flex;
        flex-direction: column;
    }

    .searched-game-item-img {
        width: 200px;
        height: 150px;
    }
}