#app {
    height: 100%;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}


.gameDetails {
    position: relative;
    width: 100%;
    height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
}

.display-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.goBack-btn {
    font-size: larger;
    gap: 0.5em;
    background: none;
    border: none;
    color: white;
}

.cur-game-name {
    font-size: 1.5vw;
    color: white;
}

.details-header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
    bottom: 2em;
}

.gameDetails__container {
    margin-top: 1vw;
    width: 100%;
    height: 100%;
}

.details-content {
    background-color: aquamarine;
    height: 100%;
    width: 100%;
    display: flex;
}

.game-screenshots {
    margin: 1vw;
    height: 90%;
    max-height: 7 0%;
    width: 70%;
    position: relative;
    object-fit: cover;

}

.game-screenshots :first-child {
    border-radius: 35px;
}

/* .swiper {
    border-radius: 15px;
} */

.game-details {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}

.description-box {
    width: 90%;
    margin: 1vw;
}


@media only screen and (max-width: 600px) {
    .gameDetails__container {
        margin-top: 3vw;
    }
}

@media only screen and (max-width: 1000px) {
    .details-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .description-box {
        width: 70%
    }
}