.games-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    column-gap: 10.5vw;
    row-gap: 30px;
    margin-left: 22%;
    background-color: rgb(15, 16, 17);
    place-items: center;
}

.page-title {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    margin-left: 22%;
    width: 10vw;
    z-index: 100;
    font-size: 50px;
    color: white;
    margin-bottom: 10px;
}



.games-grid li {
    list-style-type: none;
}

.hide {
    display: none;
}

.show {
    display: block;
}

@media only screen and (max-width: 1200px) {
    .games-grid {
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(1, 320px);
    }

    .page-title {
        margin-left: 25%;
    }
}

@media only screen and (max-width: 800px) {
    .games-grid {
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(1, 320px);
        column-gap: 1vw;
        margin-left: 15%;
    }

    .page-title {
        margin-left: 20%;
    }
}

@media only screen and (max-width: 600px) {
    .games-grid {
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(1, 320px);

    }

    .page-title {
        font-size: 30px;
        margin-left: 35%;
    }
}

@media only screen and (max-width: 450px) {
    .games-grid {
        grid-template-columns: repeat(1, 280px);
        grid-template-rows: repeat(1, 320px);
    }
}