.games-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    column-gap: 11vw;
    row-gap: 60px;
    margin-left: 22%;
    background-color: rgb(15, 16, 17);
    place-items: center;
}

.page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 100;
    font-size: 10px;
}

.games-grid li {
    list-style-type: none;
}



@media only screen and (max-width: 1200px) {
    .games-grid {
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(1, 270px);
    }
}

@media only screen and (max-width: 800px) {
    .games-grid {
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(1, 270px);
        column-gap: 1vw;
        margin-left: 15%;
    }
}

@media only screen and (max-width: 600px) {
    .games-grid {
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(1, 270px);
    }
}

@media only screen and (max-width: 450px) {
    .games-grid {
        grid-template-columns: repeat(1, 280px);
        grid-template-rows: repeat(1, 270px);
    }
}