.cart-item-container {
    height: 140px;
    width: 350px;
    min-width: 70px;
    background-color: rgb(38, 38, 38);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    position: relative;
}



.image-container {
    margin: 10px;
    width: 45%;
    height: 80%;
}

.cart-game-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 55%;
    margin: 8px;
    font-size: 15px;
}

.game-name {
    color: white;
}

.added-game-price {
    color: rgb(88, 87, 87);
}

.exit-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(16, 17, 18);
    color: rgb(88, 87, 87);
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}



.exit-button:active {
    transform: scale(0.9);
    background-color: rgba(16, 17, 18, 0.687);
}



@media only screen and (max-width:1200px) {
    .cart-item-container {
        height: 150px;
        width: 75%;
        min-width: 250px;
    }

}