:root {
    --background-color: rgb(33, 33, 33)
}

.modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.479);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 900;
    overflow-y: hidden;
}

.modal-box {
    width: 60%;
    height: 80%;
    min-height: 400px;
    min-width: 300px;
    background-color: var(--background-color);
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 26px;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    position: relative;
    font-family: 'Poppins', sans-serif;
    /* padding-left: 7px; */
}

.modal-box-inner {
    overflow-y: scroll;
    padding-right: 17px;
    width: 100%;
    height: 100%;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


.modal-games-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    place-items: center;
    row-gap: 1em;
    width: 95%;
    margin-top: 70px;
    margin-bottom: 50px;
}

.total-price {
    color: rgb(88, 87, 87);
}


.show {
    display: block;
}

.hide {
    display: none;
}

.close-modal-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgb(16, 17, 18);
    border: none;
    color: rgb(88, 87, 87);
    cursor: pointer;
    top: 0;
    right: 0;
    margin: 20px 25px;
}

.total-games {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: var(--background-color);
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    margin: auto;

}

.clear-cart-btn {
    position: absolute;
    right: 0;
    margin-right: 50px;
    background: none;
    font-family: 'Poppins', sans-serif;
    color: rgb(88, 87, 87);
    border: none;
    cursor: pointer;
}

.clear-cart-btn:active {
    color: rgb(127, 125, 125);
}


.payment-information {
    position: fixed;
    bottom: 0;
    background-color: var(--background-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.close-modal-btn :active {
    transform: scale(0.9);
    background-color: rgba(16, 17, 18, 0.687);
}

@media only screen and (max-width:1200px) {
    .modal-games-grid {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
}

.modal-game-count {
    font-size: 25px;
}