.card {
    width: 300px;
    background: #202020;
    padding: .4em;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
}

.card-image {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 170px;
    border-radius: 10px 10px 0 0;
}

.card-image:hover {
    transform: scale(0.98);
}

.category {
    /* text-transform: uppercase; */
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 10px 7px 0;
}

.category:hover {
    cursor: pointer;
}

.heading {
    font-weight: 600;
    color: white;
    padding: 7px;
}

.heading:hover {
    cursor: pointer;
}

.author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
}

.name {
    font-weight: 600;
}

.name:hover {
    cursor: pointer;
}